In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('data.csv')
df_data = data.apply(pd.to_numeric, errors='ignore')
df_new_data = df_data
df_new_data

   temperature  light             datetime
0        21.94  99.96  03/05/2020 13:25:30
1        21.94  99.96  03/05/2020 13:25:30
2        21.94  99.96  03/05/2020 13:25:30
3        21.94  99.96  03/05/2020 13:25:30
4        21.94  99.96  03/05/2020 13:25:30
5        21.94  99.96  03/05/2020 13:25:30
6        21.94  99.96  03/05/2020 13:25:30
7        21.94  99.96  03/05/2020 13:25:30
8        21.94  99.96  03/05/2020 13:25:30
9        21.94  99.96  03/05/2020 13:25:30